<!-- <mat-form-field appearance="fill">
  <mat-label>Skills</mat-label>
  <mat-select [formControl]="skills" multiple>
    <mat-option *ngFor="let skills of skillsList" [value]="skills">{{
      skills
    }}</mat-option>
  </mat-select>
</mat-form-field> -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef>Gender</th>
    <td mat-cell *matCellDef="let element">{{ element.gender }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="skills">
    <th mat-header-cell *matHeaderCellDef>Skills</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field appearance="fill">
        <mat-label>Skills</mat-label>
        <mat-select [formControl]="skills" multiple>
          <mat-option *ngFor="let skills of skillsList" [value]="skills">{{
            skills
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<!-- <mat-cell *matCellDef="let element">
  <button mat-button [matMenuTriggerFor]="menu">I'm a menu button</button>
</mat-cell> -->

<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
